.slide {
    overflow: hidden;
}

.slide > img {
    animation: slide 50s infinite linear;
    opacity: 0;
    position: absolute;
}

@keyframes slide {
    5% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        transform: scale(1.2);
    }
}
