#versions{
  scrollbar-gutter: stable;
}

.nav-item-download > .wrapper > a > *{
  animation: opacity 3s ease-in-out 0s infinite;
}

@keyframes opacity{
  0% { opacity: 1; }
  50% { opacity: .6; }
  100% { opacity: 1; }
}


