#logo-bottom{
  position: absolute;
  /* width: 200px; height: 200px; */
  display: block;
  background-image: url('../../../../assets/images/logo1.png');
  -webkit-mask-image: url('../../../../assets/images/logo1.png');
  -webkit-mask-size: cover;
  -webkit-mask-mode: alpha;
  background-blend-mode: luminosity;
  background-size: 100%;
}

#logo-top{
  position: absolute;
  /* width: 200px; height: 200px; */
  display: block;
  background-image: url('../../../../assets/images/logo2.png');
  -webkit-mask-image: url('../../../../assets/images/logo2.png');
  -webkit-mask-size: cover;
  -webkit-mask-mode: alpha;
  background-blend-mode: luminosity;
  background-size: 100%;
}

#versions{
  scrollbar-gutter: stable;
}

.nav-item-download > .progress{
  background-size: 500% !important;
  background: linear-gradient(90deg, rgb(62, 51, 255), rgb(255, 0, 0), rgb(62, 51, 255), rgb(255, 0, 0));
  animation: rainbow 2s linear 0s infinite;
}

.nav-item-download > .wrapper > a > *{
  animation: opacity 3s ease-in-out 0s infinite;
}

@keyframes rainbow {
  0% { background-position: 84% 0 }
  100% { background-position: 0 0% }
}
@keyframes opacity{
  0% { opacity: 1; }
  50% { opacity: .6; }
  100% { opacity: 1; }
}


