*       text    eol=lf
*.exe   binary
*.dll   binary
*.pdb   binary
*.wsf   binary
*.vbs   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
assets/scripts/* binary
