<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/okr8ven.css">
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
  </head>
  <body>
    <div id="oneclick-download-model"></div>
  </body>
</html>