/* Pour tout ce qui est texte */
.content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  /* Titre équivalent à "what's new" */
  .content h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  /* Utilisé pour séparer les différents points du changelog (fix/feature/ ect...) */
  .content h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  /* Lien hypertexte */
  .content a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
  }
  
  /* Liste non ordonnée */
  .content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  /* Liste ordonnée */
  .content ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  /* Élément de liste */
  .content li {
    display: list-item;
    text-align: -webkit-match-parent;
  }