@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: acumin-pro, sans-serif;
  }
}

::-webkit-scrollbar {
    width: 4px !important;
    padding: 0;
    margin: 0;
    display: inline;
  }

::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.download-progress{
  background-size: 500% !important;
  background: linear-gradient(90deg, rgb(62, 51, 255), rgb(255, 0, 0), rgb(62, 51, 255), rgb(255, 0, 0));
  animation: rainbow 2s linear 0s infinite;
}

.spin-loading{
  animation: spin-loading 2s cubic-bezier(.46,-0.55,.49,1.52) 0s forwards infinite;
}

@keyframes spin-loading{
  0%{ transform: rotate(-360deg); }
  50%{ transform: rotate(-360deg); }
}

@keyframes rainbow {
  0% { background-position: 84% 0 }
  100% { background-position: 0 0% }
}
